header {
	background: #2c3e50;
	color:#fff;
}
aside {
	background: #c0392b;
	color:#fff;
}
article {
	background-color: pink;
}
footer {
	background: #16a085;
	color:#fff;
}
.main {
	background: #f2f2f2;
}

color1 {
	background: red;
	color: ;
}
.main_art, side_art {
	margin: 3px;
}
.hola{
	margin: 50px 0px 0px 0px;
}
.up{
	text-align: center;
	background: url("../media/iglesiaa.jpg");
	background-size: 1000px 600px;
	background-repeat: no-repeat;
}
.down {
    background: rgba(255, 0, 0, 0.2);
}

.main_title p{
	font-size: 46px;
    text-align:center;
}
.image{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
down{text-align: justify;}
.centrado {
	text-align: center;
}
p {
    text-indent: 25px;
}
 div {
    text-align: justify;
    text-justify: inter-word;
}
#main_new, #main_sub_new {
    text-align: center;
    font-size: 30px;
    background: yellow;
}
#lema {
    text-align: center;
    color: yellow;
    font-size: 25px;
}