{% extends "base.html" %}
{% load static%}
{% block title%} Mi Titulo{% endblock %}
{% block content_11 %}
	<div class="w3-half w3-padding">
		<div class="w3-card-2">
			{% block cont_11 %}{% endblock %}
		</div>
	</div>
{% endblock %}
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
{% block content_12 %}
	<div class="w3-half w3-padding">
		<div class="w3-card-2">
			{% block cont_12 %}{% endblock %}
		</div>
	</div>
{% endblock %}
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
{% block content_21 %}
	<div class="w3-half w3-padding">
		<div class="w3-card-2">
			{% block cont_21 %}{% endblock %}
		</div>
	</div>	
{% endblock %}
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
{% block content_22 %}
	<div class="w3-half w3-padding">
		<div class="w3-card-2">
			{% block cont_22 %}{% endblock %}
		</div>
	</div>		
{% endblock %}
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
{% block content_31 %}
	
{% endblock %}
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
{% block content_32 %}
	
{% endblock %}
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
{% block content_final %}
	<h2>Aqui termino</h2>
{% endblock %}

<!--
	<div class="w3-half w3-padding">
		<div class="w3-card-2">
			<a href="">
				<img src="">
				<div class="w3-container w3-lime">
					<h4></h4>
				</div>
			</a>
			
		</div>
	</div>
-->