{% extends "base.html" %}
{% load static %}

<h1>Josè G. Arvelo explica como se inicia en la política y porqué se funda el Movimiento PRP</h1>
{% block content_11 %}
	<p>
		Conversamos con José Gregorio Arvelo, coordinador general del Movimiento por la Revolución Permanente, y actual miembro de la direccion Municipal del PSUV. José Gregorio se he desempeñado como concejal y alcalde del municipio Tomás Lander y como diputado a la Asamblea Lejislativa del Estado Miranda; egresado de la escuela de educación de la Universidad Central de Venezuela, en este diálogo  conversamos sobre como fué que se inició en el mundo de la política
	</p>
{% endblock %}
{% block content_12 %}

{% endblock %}
{% block content_21 %}

{% endblock %}
{% block content_22 %}

{% endblock %}
{% block content_31 %}

{% endblock %}
{% block content_32 %}

{% endblock %}
{% block content_final %}

{% endblock %}

<!--
{% extends "base.html" %}
{% load static %}
{% block content_11 %}

{% endblock %}
{% block content_12 %}

{% endblock %}
{% block content_21 %}

{% endblock %}
{% block content_22 %}

{% endblock %}
{% block content_31 %}

{% endblock %}
{% block content_32 %}

{% endblock %}
{% block content_final %}

{% endblock %}
-->