{% extends "main.html" %}
{% load static%}
<!-- %%%%%%%%%%%%%%%%% Tamaño de la imagen  600 x 450 px  %%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
{% block cont_11 %}
<a href="#">
	<img src="{% static 'poll/images/hector_miranda.jpg' %}" style="width:100%" alt="Maduro" class="w3-hover-opacity w3-image">
	<div class="w3-container w3-lime">
		<h4>Movimiento PRP respalda la candidatura de Hector Rodriguez a la gobernacion del Estado Miranda</h4>
	</div>
</a>
{% endblock %}
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
{% block cont_12 %}
<a href="http://127.0.0.1:8000/polls/new_12.html">
	<img src="{% static 'poll/images/jose.jpg' %}" style="width:100%" alt="Maduro2" class="w3-hover-opacity w3-image"">
	<div class="w3-container w3-lime">
		<h4>Josè G. Arvelo explica como se inició en la política y porqué se funda el Movimiento PRP</h4>
	</div>
</a>
{% endblock %}
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
{% block cont_21 %}
<a href="#">
	<img src="{% static 'poll/images/jose.jpg' %}"" style="width:100%" alt="Maduro2" class="w3-hover-opacity w3-image"">
	<div class="w3-container w3-lime">
		<h4>Josè G. Arvelo explica como se inicia en la política y porqué se funda el Movimiento PRP</h4>
	</div>
</a>
{% endblock %}
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
{% block cont_22 %}
<a href="#">
	<img src="{% static 'poll/images/jose.jpg' %}"" style="width:100%" alt="Maduro2" class="w3-hover-opacity w3-image"">
	<div class="w3-container w3-lime">
		<h4>Josè G. Arvelo explica como se inicia en la política y porqué se funda el Movimiento PRP</h4>
	</div>
</a>
{% endblock %}

{% block cont_31 %}
<a href="">
	<img src="">
	<div class="w3-container w3-lime">
		<h4></h4>
	</div>
</a>
{% endblock %}

{% block cont_32 %}
<a href="">
	<img src="">
	<div class="w3-container w3-lime">
		<h4></h4>
	</div>
</a>
{% endblock %}

<!--
			<a href="">
				<img src="">
				<div class="w3-container w3-lime">
					<h4></h4>
				</div>
			</a>
-->