{% extends "base.html" %}
{% load static %}
{% block content_11 %}
				<h1 class="w3-lime"> Cuando se créa el Movimiento Social por la Revolución Permanente (PRP)</h1>
				<p>
					El Movimiento Social por la Revolución Permanente PRP, surge como una corriente, dentro del Partido Socialista Unido de Venezuela (PSUV), y, aunque se venía conformando desde hacia algun tiempo atras, se funda oficialmente, el 21 de mayo de 2016 en un acto de masa en la plaza Bolivar de Ocumare del tuy.
				</p>
					<figure>
						<img src="{% static 'poll/images/who/prp1.jpg' %}" alt="Acto en la Plaza Bolivar">
						<figcaption>Fundación del Movimiento PRP en la plaza Bolivar (21/05/2016)</figcaption>
					</figure>
				<br>
				<br>
				<p>
					Desde entonces, el PRP ha venido trabajando, en estrecho contacto con las comunidades, no solo en la busqueda de fórmulas para reimpulsar la revolución en el Municipio Tomás Lander, sino tambien trabajando para defender la Gestion de nuestro Presidente obrero Nicolas Maduro y preservar el legado del Comandante Chavez.
				</p>
					<figure>
						<img src="{% static 'poll/images/who/prp2.jpg' %}" alt="Acto en la Plaza Bolivar">
						<figcaption>Juramentación de los miembros del Movimiento PRP en la plaza Bolivar (21/05/2016)</figcaption>
					</figure>				
				<br>
				<h1 class="w3-lime"> Misión</h1>
				<p>
					Ser un instrumento orgánico del pueblo noble, palpable, objetivo, real; acompañar, fortalecer y mantener las luchas sociales por sus reivindicaciones colectivas y difusas que alimenten y fomenten el auténtico sentido de lo humano, tal como dice en su canto el Panita de siempre Ali Primera: “ayúdenla, ayúdenla… que sea humana, la humanidad”. Donde los contra valores del materialismo, del capitalismo, el individualismo, el egoísmo y sus perversiones sean destruidos, abriendo paso a una mejor convivencia, tener ese “vivir viviendo” que en concepto nos sembró Chávez. Combatir las guerras no convencionales que hoy oprimen a nuestro pueblo, como política de los sectores contrarrevolucionarios apadrinados por la derecha mundial en su pretensión de desmoralizar al pueblo, debilitar al gobierno revolucionario y por ende derrocar el proyecto socialista.
				</p>
				<br/>
				<h1 class="w3-lime"> Visión</h1>
				<p>
					Fortalecer nuestro pueblo, que se empodere plenamente, vencer las dificultades y erigirse en masa como un guerrero gigantesco, victorioso e incansable. Acompañar y disfrutar la marcha firme del proyecto bolivariano con el gobierno revolucionario. Dar al traste con los planes desestabilizadores y golpistas de la derecha maltrecha, parasitaria y terrorista. Construir el nuevo tejido social, crear, promover y defender un nuevo modelo económico, que privilegie lo productivo para cubrir las demandas y necesidades básicas del pueblo. Lealtad absoluta al pueblo, a la Revolución, a Bolívar y a Chávez. 
				</p>
{% endblock %}
{% block content_12 %}

{% endblock %}
{% block content_21 %}

{% endblock %}
{% block content_22 %}

{% endblock %}
{% block content_31 %}

{% endblock %}
{% block content_32 %}

{% endblock %}
{% block content_final %}

{% endblock %}